## Datos de strava

- Filtrar y quedarse solo con Activity.Type="Ride"
- Convertir Activity.Date en un objeto posixct.
- Crear una nueva columna que sea día de la semana
- Crear una nueva columna que sea ida o vuelta al trabajo:
    - Tiene que ser un día de lunes a viernes
    - Ida: Entre las 7 y las 9
    - Vuelta: Entre las 14 y las 19

Para la columna Moving.Time: Calcular tiempo medio de ida, tiempo medio de vuelta, varianza y Boxplot de ambos. 

Ayuda: 
* Para elegir el día de la semana usa la función weekdays del paquete lubridate()
* Para parsear la fecha, usa el siguiente formato: "%b %d, %Y, %I:%M:%S %p"

In [ ]:
Sys.setlocale("LC_ALL","en_EN")

In [2]:
strava = read.csv("data/activities_strava.csv")

In [3]:
head(strava)

  Activity.ID Activity.Date            Activity.Name  Activity.Type
1 2583296920  Aug 1, 2019, 3:51:15 PM  Afternoon Ride Ride
2 2583296929  Aug 2, 2019, 5:53:50 AM  Morning Ride   Ride
3 2584111125  Aug 2, 2019, 1:15:49 PM  Afternoon Ride Ride
4 2613027582  Aug 12, 2019, 3:58:59 PM Afternoon Ride Ride
5 2631611632  Aug 19, 2019, 5:24:35 AM Morning Ride   Ride
6 2632473031  Aug 19, 2019, 1:29:48 PM Afternoon Ride Ride
  Activity.Description Elapsed.Time Distance Relative.Effort Commute
1 NA                   50436         8.14    NA              false
2 NA                    1745         7.96    NA              false
3 NA                     944         6.97    NA              false
4 NA                    4170        10.52    NA              false
5 NA                    1744         7.62    NA              true
6 NA                    1046         7.62    NA              true
  Activity.Gear ⋯ Gear Precipitation.Probability Precipitation.Type Cloud.Cover
1 NA            ⋯ NA   NA                        NA                 NA
2 NA            ⋯ NA   NA                        NA                 NA
3 NA            ⋯ NA   NA                        NA                 NA
4 NA            ⋯ NA   NA                        NA                 NA
5 NA            ⋯ NA   NA                        NA                 NA
6 NA            ⋯ NA   NA                        NA                 NA
  Weather.Visibility UV.Index Weather.Ozone
1 NA                 NA       NA
2 NA                 NA       NA
3 NA                 NA       NA
4 NA                 NA       NA
5 NA                 NA       NA
6 NA                 NA       NA
  translation.missing..en.US.lib.export.portability_exporter.activities.horton_values.jump_count
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA
  translation.missing..en.US.lib.export.portability_exporter.activities.horton_values.total_grit
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA
  translation.missing..en.US.lib.export.portability_exporter.activities.horton_values.avg_flow
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

 ## CSV edad española
 
 Usando el CSV del INE.¿Cual es la media de edad de la población española? ¿y la mediana? ¿la moda?

Ayuda, función de la media:
\\[ 
    \bar{x} =  \frac{1}{\text{poblaciónTotal}} \sum _{i=1}^N edad_i · poblaciónConEdad_i 
\\]

In [58]:
library(dplyr)
library(tidyr)

poblacion_raw<-read.csv("data/9663bsc.csv",skip=0,fileEncoding="ISO-8859-1",header=T, sep=';',stringsAsFactor=F)
poblacion_raw$Total <- as.numeric(gsub('\\.','',poblacion_raw$Total))
poblacion <- poblacion_raw %>% pivot_wider(names_from = Sexo, values_from = Total)  %>% 
 mutate(edad=as.numeric(gsub("año(s|)","",Edad.simple))) %>% drop_na() %>% select(-c(Periodo,Edad.simple)) %>% arrange(edad)

head(poblacion)

Warning message:
“Problem with `mutate()` input `edad`.
ℹ NAs introduced by coercion
ℹ Input `edad` is `as.numeric(gsub("año(s|)", "", Edad.simple))`.”
Warning message in mask$eval_all_mutate(dots[[i]]):
“NAs introduced by coercion”

  Ambos sexos Hombres Mujeres edad
1 359045      184664  174381  0
2 378335      194408  183927  1
3 405012      208634  196378  2
4 428337      220121  208216  3
5 439918      226483  213435  4
6 447273      230836  216438  5