### Vectores

In [12]:
(v <- c(1,3,tercervalor=7,9))

                        tercervalor
          1           3           7           9

In [2]:
v*2

[1]  2  6 14 18

In [6]:
rep('hola caracola',2)

[1] "hola caracola" "hola caracola"

In [8]:
seq(1,7, 2)

[1] 1 3 5 7

In [10]:
seq(1,7, length.out=10)

 [1] 1.000000 1.666667 2.333333 3.000000 3.666667 4.333333 5.000000 5.666667
 [9] 6.333333 7.000000

### Listas

In [15]:
l = list(texto="Descripción de las características",peso=47,medidas=c(1,5,7))
l

$texto
[1] "Descripción de las características"

$peso
[1] 47

$medidas
[1] 1 5 7

In [18]:
l[["medidas"]]

[1] 1 5 7

In [20]:
l$texto

[1] "Descripción de las características"

In [24]:
l[["medidas"]][3]

[1] 7

### Dataframe

In [28]:
df <- data.frame(animal=c("perro","gato","gorrión","hamster","perro", "hamster"),
           peso=  c(10,2,20/1000, 50/1000, 20, 60/1000 ))
summary(df)

    animal               peso
 Length:6           Min.   : 0.0200
 Class :character   1st Qu.: 0.0525
 Mode  :character   Median : 1.0300
                    Mean   : 5.3550
                    3rd Qu.: 8.0000
                    Max.   :20.0000

In [29]:
df$animal <- factor(df$animal)
summary(df)

     animal       peso
 gato   :1   Min.   : 0.0200
 gorrión:1   1st Qu.: 0.0525
 hamster:2   Median : 1.0300
 perro  :2   Mean   : 5.3550
             3rd Qu.: 8.0000
             Max.   :20.0000

In [31]:
table(df[,"animal"])

   gato gorrión hamster   perro
      1       1       2       2

In [35]:
df[c(3,2),]

  animal  peso
3 gorrión 0.02
2 gato    2.00

In [36]:
order(df$peso)

[1] 3 4 6 2 1 5

In [40]:
df[order(df$peso,  decreasing = T),]

  animal  peso
5 perro   20.00
1 perro   10.00
2 gato     2.00
6 hamster  0.06
4 hamster  0.05
3 gorrión  0.02

In [41]:
df[,c(2,1)]

  peso  animal
1 10.00 perro
2  2.00 gato
3  0.02 gorrión
4  0.05 hamster
5 20.00 perro
6  0.06 hamster

In [42]:
df[c(2,4),c("peso","animal")]

  peso animal
2 2.00 gato
4 0.05 hamster

In [43]:
mean(df$peso)

[1] 5.355

In [44]:
median(df$peso)

[1] 1.03

In [46]:
sort(df$peso)

[1]  0.02  0.05  0.06  2.00 10.00 20.00

In [51]:
var(df$peso)
sd(df$peso)

[1] 66.39007

[1] 8.14801