In [9]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession
      .builder()
      .master("local[*]")
      .appName("Spark SQL KeepCoding Base")
      .getOrCreate()

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@19a7fe5e

In [16]:
 // Read CSV
val csvDefault = spark
      .read
      .csv("sample.csv")

csvDefault: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 2 more fields]
res0: Array[org.apache.spark.sql.Row] = Array([nombre,apellido,clase,nota], [sara,garcia,ingles,8], [pepe,gomez,matematicas,8], [pepe,gomez,tecnologia,7], [pepe,gomez,ingles,7], [lucia,fuentes,filosofia,7], [lucia,fuentes,historia,8], [lucia,fuentes,ingles,6])

In [18]:
val csv = spark
      .read
      .format("csv")
      .option("sep", ",")
      .option("inferSchema", "true")
      .option("header", "true")
      .load("sample.csv")

csv: org.apache.spark.sql.DataFrame = [nombre: string, apellido: string ... 2 more fields]
res2: Array[org.apache.spark.sql.Row] = Array([sara,garcia,ingles,8], [pepe,gomez,matematicas,8], [pepe,gomez,tecnologia,7], [pepe,gomez,ingles,7], [lucia,fuentes,filosofia,7], [lucia,fuentes,historia,8], [lucia,fuentes,ingles,6])

In [19]:
csvDefault.show
csvDefault.printSchema

csv.show
csv.printSchema

+------+--------+-----------+----+
|   _c0|     _c1|        _c2| _c3|
+------+--------+-----------+----+
|nombre|apellido|      clase|nota|
|  sara|  garcia|     ingles|   8|
|  pepe|   gomez|matematicas|   8|
|  pepe|   gomez| tecnologia|   7|
|  pepe|   gomez|     ingles|   7|
| lucia| fuentes|  filosofia|   7|
| lucia| fuentes|   historia|   8|
| lucia| fuentes|     ingles|   6|
+------+--------+-----------+----+

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

+------+--------+-----------+----+
|nombre|apellido|      clase|nota|
+------+--------+-----------+----+
|  sara|  garcia|     ingles|   8|
|  pepe|   gomez|matematicas|   8|
|  pepe|   gomez| tecnologia|   7|
|  pepe|   gomez|     ingles|   7|
| lucia| fuentes|  filosofia|   7|
| lucia| fuentes|   historia|   8|
| lucia| fuentes|     ingles|   6|
+------+--------+-----------+----+

root
 |-- nombre: string (nullable = true)
 |-- apellido: string (nullable = true)
 |-- clase: string (nullable = true)
 |-- nota: integer (nullable = true)

In [21]:
// Read JSON

val jsonDefault = spark
      .read
      .json("sample.json")    

val json = spark
      .read
      .format("json")
      .load("sample.json")

jsonDefault.show
jsonDefault.printSchema

json.show
json.printSchema

spark.close()

+--------+-----------+------+----+
|apellido|      clase|nombre|nota|
+--------+-----------+------+----+
|  ferrer|   historia|  juan|  10|
|  ferrer|  filosofia|  juan|   8|
|  ferrer|     ingles|  juan|   7|
|  garcia|matematicas|  sara|   9|
|  garcia| tecnologia|  sara|  10|
|   gomez|   historia|  juan|   6|
|   gomez|  filosofia|  juan|   8|
|   gomez|     ingles|  juan|   5|
+--------+-----------+------+----+

root
 |-- apellido: string (nullable = true)
 |-- clase: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- nota: long (nullable = true)

+--------+-----------+------+----+
|apellido|      clase|nombre|nota|
+--------+-----------+------+----+
|  ferrer|   historia|  juan|  10|
|  ferrer|  filosofia|  juan|   8|
|  ferrer|     ingles|  juan|   7|
|  garcia|matematicas|  sara|   9|
|  garcia| tecnologia|  sara|  10|
|   gomez|   historia|  juan|   6|
|   gomez|  filosofia|  juan|   8|
|   gomez|     ingles|  juan|   5|
+--------+-----------+------+----+

root
 |-- apellido: string (nullable = true)
 |-- clase: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- nota: long (nullable = true)

jsonDefault: org.apache.spark.sql.DataFrame = [apellido: string, clase: string ... 2 more fields]
json: org.apache.spark.sql.DataFrame = [apellido: string, clase: string ... 2 more fields]